<!DOCTYPE html>
<html>
  <body>
    <h1>Student Contributors</h1>
    <% @students.each do |student| %>
        <ul>
          <br>
          <li><h2><%= student.name %></h2></li>
          <br>
          <% student.foods.each do |food| %>
          <ul>
            <li><%= food.name %>, carbon emitted: <%= food.ghg_amount %> lbs</li>
          </ul>
          <% end %>
        </ul>
    <% end %>
  </body>
</html>
