
<!DOCTYPE html>
<html>
  <body>
    <h1>Student Contributors</h1>
    <p><% @students.each do |student| %>
        <ul>
          <li><%= student.name %></li>
        </ul>
      <% end %></p>
  </body>
</html>
