<!DOCTYPE html>
<html>
  <body>
    <h2>Introduction</h2>
    <p>Welcome to the AP Environmental Science carbon emissions data collection for food. This webite is a tool for students and teachers to collect and organize greenhouse gas emissions data for foods from multiple sources. As students find useful data they add it to the collection so that other students can also find and use that data easily. </p>
    <br>

    <h2>Directions</h2>
    <p>Anyone can view the data without creating an account. If you would like to add data to the list, sign up for an account. When you are logged in, you will be able to add information, edit information you have added, and delete entries you have created.</p>


    <h3><a href="/students/signup">Sign Up</a></h3>
    <h3><a href="/students/login">Login</a></h3>
  </body>
</html>
